UVAP-REID/UVAP_REID/flows (2).json
[{"id":"a06e56af.fd8a08","type":"tab","label":"REID","disabled":false,"info":""},{"id":"e5bd3913.63f9b8","type":"MySQLdatabase","z":"","name":"","host":"mysql","port":"3306","db":"uvap","tz":"Europe, Amsterdam"},{"id":"4405d604.6930f8","type":"Kafka Broker","z":"","name":"ultinous-laptop","hosts":[{"host":"172.16.100.16","port":9092}],"hostsEnvVar":"","connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false},{"id":"faa3811d.82e0b","type":"kafka-broker","z":"","broker":"172.16.100.16:9092","clientid":""},{"id":"924af268.52508","type":"function","z":"a06e56af.fd8a08","name":"filter","func":"if(msg.payload.type !== 'REID_EVENT')\n    return false;\n    \n\n    \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["55f85003.6733f"]]},{"id":"c6ec1e21.7fb66","type":"json","z":"a06e56af.fd8a08","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":100,"wires":[["924af268.52508","2ecde7c1.d66708"]]},{"id":"55f85003.6733f","type":"function","z":"a06e56af.fd8a08","name":"format query","func":"var queries = [];\n\nvar evt = msg.payload.reid_event;\n\nfor(var i in evt.match_list)\n{\n    var match = evt.match_list[i];\n    \n    queries.push({\n       payload: {\n           stream: evt.input_stream_id,\n           person: match.id.first_detection_key,\n           score: match.score,\n           time: msg._kafka.key.split('_')[0],\n           insertTime: new Date().getTime()\n       },\n       topic: \"INSERT INTO recognitions (stream, person, score, time, insertTime) VALUES (:stream, :person, :score, FROM_UNIXTIME(:time * 0.001), FROM_UNIXTIME(:insertTime * 0.001));\"\n    });\n}\n\nreturn queries;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["6dcae5fe.4ff99c"]]},{"id":"6dcae5fe.4ff99c","type":"mysql","z":"a06e56af.fd8a08","mydb":"e5bd3913.63f9b8","name":"","x":650,"y":100,"wires":[[]]},{"id":"e51be6d.b7dd618","type":"http in","z":"a06e56af.fd8a08","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":1030,"y":120,"wires":[["a9c2bf95.09e8d"]]},{"id":"a9c2bf95.09e8d","type":"function","z":"a06e56af.fd8a08","name":"format query","func":"\nif(msg.payload.from !== undefined && msg.payload.to !== undefined)\n{\n    if(msg.payload.stream === undefined || msg.payload.stream === null)\n        msg.payload.stream = \"%\";\n        \n        \n    msg.topic = \"SELECT person, ifnull(persons.name, 'Unrecognized') AS personName, score, stream, time, persons.id as 'personId', category, categories.name as 'categoryName' FROM recognitions LEFT JOIN persons ON recognitions.person = persons.kafka_key LEFT JOIN categories ON persons.category=categories.id WHERE (time BETWEEN :from AND :to) AND stream LIKE :stream\";\n        \n    msg.topic += \" AND (person LIKE :person OR ifnull(persons.name, 'Unrecognized') LIKE :person)\";\n\n    if(msg.payload.person === undefined || msg.payload.person === null)\n    {\n        msg.payload.person = \"%\";\n    }\n    else if(Array.isArray(msg.payload.person))\n    {\n        msg.topic += \" AND (person IN (:person) OR ifnull(persons.name, 'Unrecognized') IN (:person))\";\n    }\n    \n    if(msg.payload.category !== undefined && msg.payload.category !== null)\n    {\n        if(Array.isArray(msg.payload.category))\n        {\n            msg.topic += \" AND (category IN :category)\";\n        }\n        else\n        {\n            msg.topic += \" AND category=:category\";\n        }\n    }\n\n\n    return [null, msg];\n}\n\nmsg.payload = \"Invalid params\";\nreturn [ msg, null];","outputs":2,"noerr":0,"x":1170,"y":120,"wires":[["b8e4159.2e983e8"],["535b45.3f95f4bc"]]},{"id":"b8e4159.2e983e8","type":"http response","z":"a06e56af.fd8a08","name":"","statusCode":"","headers":{},"x":1470,"y":120,"wires":[]},{"id":"535b45.3f95f4bc","type":"mysql","z":"a06e56af.fd8a08","mydb":"e5bd3913.63f9b8","name":"","x":1330,"y":160,"wires":[["b8e4159.2e983e8"]]},{"id":"e2c7afd2.52989","type":"Kafka Consumer Group","z":"a06e56af.fd8a08","name":"","broker":"4405d604.6930f8","groupId":"nodered-laptop-kafka","sessionTimeout":"30000","protocol":["roundrobin"],"encoding":"utf8","fromOffset":"latest","commitOffsetsOnFirstJoin":"false","outOfRangeOffset":"latest","topics":["fve.cam.99.reids.ReidRecord.json"],"x":160,"y":100,"wires":[["c6ec1e21.7fb66","5b8533fa.6e490c"]]},{"id":"283a3c95.0cf834","type":"http in","z":"a06e56af.fd8a08","name":"","url":"/persons","method":"get","upload":false,"swaggerDoc":"","x":1030,"y":280,"wires":[["e338e53b.3c4708"]]},{"id":"e338e53b.3c4708","type":"function","z":"a06e56af.fd8a08","name":"format query","func":"msg.payload = {};\nmsg.topic = \"SELECT kafka_key as 'key', name FROM persons;\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["253e43dd.54c14c"]]},{"id":"253e43dd.54c14c","type":"mysql","z":"a06e56af.fd8a08","mydb":"e5bd3913.63f9b8","name":"","x":1290,"y":280,"wires":[["beda36f1.fb0bf8"]]},{"id":"beda36f1.fb0bf8","type":"http response","z":"a06e56af.fd8a08","name":"","statusCode":"","headers":{},"x":1390,"y":280,"wires":[]},{"id":"ea8f8ee2.ecdc9","type":"http in","z":"a06e56af.fd8a08","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":400,"y":740,"wires":[["5c502610.af17f8"]]},{"id":"5c502610.af17f8","type":"http response","z":"a06e56af.fd8a08","name":"","statusCode":"","headers":{},"x":510,"y":740,"wires":[]},{"id":"babee016.1eb33","type":"comment","z":"a06e56af.fd8a08","name":"Consume and add to database","info":"","x":190,"y":60,"wires":[]},{"id":"5944af03.d7688","type":"comment","z":"a06e56af.fd8a08","name":"Search database","info":"","x":1040,"y":80,"wires":[]},{"id":"7f1e9fa0.da6e7","type":"comment","z":"a06e56af.fd8a08","name":"Get defined persons","info":"","x":1050,"y":240,"wires":[]},{"id":"cd4b9fd5.1e4e1","type":"http in","z":"a06e56af.fd8a08","name":"","url":"/addperson","method":"post","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["78f5301c.febc8"]]},{"id":"78f5301c.febc8","type":"function","z":"a06e56af.fd8a08","name":"format query","func":"\nif(msg.payload.key !== undefined && msg.payload.key !== null && msg.payload.name !== undefined && msg.payload.name !== null)\n{\n    \n    \n    msg.topic  = \"INSERT INTO persons (kafka_key, name, category) VALUES (:key, :name, (SELECT value FROM settings WHERE setting='default-category'));\";\n    return [null, msg];\n}\n\nmsg.payload = \"Invalid query\";\nreturn [msg, null];","outputs":2,"noerr":0,"x":310,"y":360,"wires":[["7402d952.694aa8"],["cc836572.e12cd8"]]},{"id":"7402d952.694aa8","type":"http response","z":"a06e56af.fd8a08","name":"response","statusCode":"","headers":{},"x":820,"y":440,"wires":[]},{"id":"cc836572.e12cd8","type":"mysql","z":"a06e56af.fd8a08","mydb":"e5bd3913.63f9b8","name":"","x":530,"y":440,"wires":[["7402d952.694aa8"]]},{"id":"e2097e10.00aa","type":"comment","z":"a06e56af.fd8a08","name":"Add defined person","info":"","x":150,"y":320,"wires":[]},{"id":"b4ad161e.f431f8","type":"catch","z":"a06e56af.fd8a08","name":"Catch db error","scope":["cc836572.e12cd8"],"uncaught":false,"x":590,"y":360,"wires":[["7abd892c.ee94f8"]]},{"id":"7abd892c.ee94f8","type":"function","z":"a06e56af.fd8a08","name":"format error","func":"msg.payload = msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["7402d952.694aa8"]]},{"id":"1fe86f01.7dcaa1","type":"http in","z":"a06e56af.fd8a08","name":"","url":"/removeperson","method":"post","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["44080a9c.cda5c4"]]},{"id":"44080a9c.cda5c4","type":"function","z":"a06e56af.fd8a08","name":"format query","func":"\nif(msg.payload.key !== undefined && msg.payload.key)\n{\n    msg.topic  = \"DELETE FROM persons WHERE kafka_key=:key;\";\n    return [msg, null];\n}\n\nmsg.payload = \"Invalid query\";\nreturn [null, msg];","outputs":2,"noerr":0,"x":330,"y":520,"wires":[["cc836572.e12cd8"],["7402d952.694aa8"]]},{"id":"bb44c509.600d38","type":"comment","z":"a06e56af.fd8a08","name":"Remove defined person","info":"","x":160,"y":480,"wires":[]},{"id":"146ee3a4.a21c7c","type":"mysql","z":"a06e56af.fd8a08","mydb":"e5bd3913.63f9b8","name":"","x":490,"y":800,"wires":[["dbfc520.6d913b"]]},{"id":"920b562e.5e4bc8","type":"inject","z":"a06e56af.fd8a08","name":"","topic":"SELECT * FROM recognitions WHERE time BETWEEN '2020-05-05 04:30:00' AND '2020-05-05 06:30:00'","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":800,"wires":[["146ee3a4.a21c7c"]]},{"id":"dbfc520.6d913b","type":"debug","z":"a06e56af.fd8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":800,"wires":[]},{"id":"2ecde7c1.d66708","type":"trigger","z":"a06e56af.fd8a08","d":true,"op1":"","op2":"2","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":510,"y":200,"wires":[["73dab6bf.2d6098"]]},{"id":"15e53c45.282504","type":"http request","z":"a06e56af.fd8a08","name":"restart Node-RED","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[[]]},{"id":"73dab6bf.2d6098","type":"function","z":"a06e56af.fd8a08","name":"format request","func":"msg.headers = \n{\n    \"Node-RED-Deployment-Type\": \"reload\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["15e53c45.282504"]]},{"id":"3645a1b2.91da1e","type":"comment","z":"a06e56af.fd8a08","name":"Kafka error handling","info":"","x":530,"y":160,"wires":[]},{"id":"5b8533fa.6e490c","type":"debug","z":"a06e56af.fd8a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":200,"wires":[]}]