UVAP-REID/UVAP_REID/REIDMipDriver/flows (3).json
[
  {
    "id": "e60634bc.f90e28",
    "type": "tab",
    "label": "REID",
    "disabled": false,
    "info": ""
  },
  {
    "id": "42cdccd.3ff8a34",
    "type": "MySQLdatabase",
    "z": "",
    "name": "",
    "host": "mysql",
    "port": "3306",
    "db": "uvap",
    "tz": "Europe, Amsterdam"
  },
  {
    "id": "7f95c33b.ff1eec",
    "type": "Kafka Broker",
    "z": "",
    "name": "ultinous-laptop",
    "hosts": [
      {
        "host": "172.16.100.16",
        "port": 9092
      }
    ],
    "hostsEnvVar": "",
    "connectTimeout": "10000",
    "requestTimeout": "30000",
    "autoConnect": "true",
    "idleConnection": "5",
    "reconnectOnIdle": "true",
    "maxAsyncRequests": "10",
    "checkInterval": "10",
    "selfSign": true,
    "usetls": false
  },
  {
    "id": "96ea1fdb.0f91b",
    "type": "Kafka Broker",
    "z": "",
    "name": "ultionus-gpu",
    "hosts": [
      {
        "host": "172.16.100.5",
        "port": 9092
      }
    ],
    "hostsEnvVar": "",
    "connectTimeout": "10000",
    "requestTimeout": "30000",
    "autoConnect": "true",
    "idleConnection": "5",
    "reconnectOnIdle": "true",
    "maxAsyncRequests": "10",
    "checkInterval": "10",
    "selfSign": true,
    "usetls": false
  },
  {
    "id": "718a98c0.99afa8",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "filter",
    "func": "if(msg.payload.type !== 'REID_EVENT')\n    return false;\n    \n\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 100,
    "wires": [ [ "e25210cb.bcd5e" ] ]
  },
  {
    "id": "f6175801.fb3b88",
    "type": "json",
    "z": "e60634bc.f90e28",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 310,
    "y": 100,
    "wires": [ [ "718a98c0.99afa8", "22768cdb.0f1e74" ] ]
  },
  {
    "id": "e25210cb.bcd5e",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "var queries = [];\n\nvar evt = msg.payload.reid_event;\n\nfor(var i in evt.match_list)\n{\n    var match = evt.match_list[i];\n    \n    queries.push({\n       payload: {\n           stream: evt.input_stream_id,\n           person: match.id.first_detection_key,\n           score: match.score,\n           time: msg._kafka.key.split('_')[0],\n           insertTime: new Date().getTime()\n       },\n       topic: \"INSERT INTO recognitions (stream, person, score, time, insertTime) VALUES (:stream, :person, :score, FROM_UNIXTIME(:time * 0.001), FROM_UNIXTIME(:insertTime * 0.001));\"\n    });\n}\n\nreturn queries;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 100,
    "wires": [ [ "3c184e51.7e00b2" ] ]
  },
  {
    "id": "3c184e51.7e00b2",
    "type": "mysql",
    "z": "e60634bc.f90e28",
    "mydb": "42cdccd.3ff8a34",
    "name": "",
    "x": 650,
    "y": 100,
    "wires": [ [] ]
  },
  {
    "id": "78428b4c.993364",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "/search",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1030,
    "y": 120,
    "wires": [ [ "a0914bc9.f6c878" ] ]
  },
  {
    "id": "a0914bc9.f6c878",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "\nif(msg.payload.from !== undefined && msg.payload.to !== undefined)\n{\n    if(msg.payload.stream === undefined || msg.payload.stream === null)\n        msg.payload.stream = \"%\";\n        \n        \n    msg.topic = \"SELECT person, ifnull(persons.name, 'Unrecognized') AS personName, score, stream, time, persons.id as 'personId', category, categories.name as 'categoryName' FROM recognitions LEFT JOIN persons ON recognitions.person = persons.kafka_key LEFT JOIN categories ON persons.category=categories.id WHERE (time BETWEEN :from AND :to) AND stream LIKE :stream\";\n        \n    var personQuery = \" AND (person LIKE :person OR ifnull(persons.name, 'Unrecognized') LIKE :person)\";\n    \n    if(msg.payload.person === undefined || msg.payload.person === null)\n    {\n        msg.payload.person = \"%\";\n    }\n    else if(Array.isArray(msg.payload.person))\n    {\n        personQuery = \" AND (person IN (:person) OR ifnull(persons.name, 'Unrecognized') IN (:person))\";\n    }\n    \n    msg.topic += personQuery;\n    \n    if(msg.payload.category !== undefined && msg.payload.category !== null)\n    {\n        if(Array.isArray(msg.payload.category))\n        {\n            var addNull = false;\n            for(var i in msg.payload.category)\n            {\n                if(msg.payload.category[i] === \"\")\n                {\n                    addNull = true;\n                    msg.payload.category.splice(i, 1);\n                }\n                else\n                {\n                    msg.payload.category[i] = parseInt(msg.payload.category[i]);\n                }\n                    //msg.payload.category[i] = null;\n            }\n            msg.topic += \" AND (category IN (:category)\" + (addNull ?  \" OR category is null\" : \"\") + \")\";\n        }\n        else\n        {\n            if(msg.payload.category === \"\")\n                msg.topic += \" AND category is null\";\n                //msg.payload.category = null;\n            else\n                msg.topic += \" AND category=:category\";\n        }\n    }\n\n\n    return [null, msg];\n}\n\nmsg.payload = \"Invalid params\";\nreturn [ msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 1170,
    "y": 120,
    "wires": [
      [ "8549a2bb.aed35" ],
      [ "6cbc0293.5d364c", "9e7aa2e0.7fe12" ]
    ]
  },
  {
    "id": "8549a2bb.aed35",
    "type": "http response",
    "z": "e60634bc.f90e28",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 120,
    "wires": []
  },
  {
    "id": "6cbc0293.5d364c",
    "type": "mysql",
    "z": "e60634bc.f90e28",
    "mydb": "42cdccd.3ff8a34",
    "name": "",
    "x": 1330,
    "y": 160,
    "wires": [ [ "8549a2bb.aed35" ] ]
  },
  {
    "id": "ad6d1c7.3b333e",
    "type": "Kafka Consumer Group",
    "z": "e60634bc.f90e28",
    "name": "",
    "broker": "96ea1fdb.0f91b",
    "groupId": "nodered-laptop-kafka",
    "sessionTimeout": "30000",
    "protocol": [ "roundrobin" ],
    "encoding": "utf8",
    "fromOffset": "latest",
    "commitOffsetsOnFirstJoin": "false",
    "outOfRangeOffset": "latest",
    "topics": [ "fve.cam.99.reids.ReidRecord.json" ],
    "x": 140,
    "y": 100,
    "wires": [ [ "f6175801.fb3b88", "dd6493b3.a0edc" ] ]
  },
  {
    "id": "3379deaa.f303b2",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "/persons",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1030,
    "y": 280,
    "wires": [ [ "de4be69.8976f18" ] ]
  },
  {
    "id": "de4be69.8976f18",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "msg.payload = {};\nmsg.topic = \"SELECT persons.id as 'id', kafka_key as 'key', persons.name as 'personName', category, categories.name as 'categoryName', categories.color as 'categoryColor' FROM persons LEFT JOIN categories ON persons.category=categories.id;\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1170,
    "y": 280,
    "wires": [ [ "7a305889.e01da8" ] ]
  },
  {
    "id": "7a305889.e01da8",
    "type": "mysql",
    "z": "e60634bc.f90e28",
    "mydb": "42cdccd.3ff8a34",
    "name": "",
    "x": 1350,
    "y": 320,
    "wires": [ [ "bce11996.aea7e8" ] ]
  },
  {
    "id": "bce11996.aea7e8",
    "type": "http response",
    "z": "e60634bc.f90e28",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1450,
    "y": 320,
    "wires": []
  },
  {
    "id": "3f21ebea.90aea4",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Consume and add to database",
    "info": "",
    "x": 190,
    "y": 60,
    "wires": []
  },
  {
    "id": "bbb54a81.101fd8",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Search database",
    "info": "",
    "x": 1040,
    "y": 80,
    "wires": []
  },
  {
    "id": "763acbe5.e61704",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Get defined persons",
    "info": "",
    "x": 1050,
    "y": 240,
    "wires": []
  },
  {
    "id": "6fd59345.45145c",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "/addperson",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 360,
    "wires": [ [ "b44de95b.912c38" ] ]
  },
  {
    "id": "b44de95b.912c38",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "\nif(msg.payload.key !== undefined && msg.payload.key !== null && \n    msg.payload.name !== undefined && msg.payload.name !== null &&\n    msg.payload.category !== undefined && msg.payload.category !== null)\n{\n    \n    \n    //msg.topic  = \"INSERT INTO persons (kafka_key, name, category) VALUES (:key, :name, (SELECT value FROM settings WHERE setting='default-category'));\";\n    msg.topic  = \"INSERT INTO persons (kafka_key, name, category) VALUES (:key, :name, :category);\";\n    return [null, msg];\n}\n\nmsg.payload = \"Invalid query\";\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 310,
    "y": 360,
    "wires": [
      [ "9aac5c82.cdea9" ],
      [ "7ea2fca1.081954" ]
    ]
  },
  {
    "id": "9aac5c82.cdea9",
    "type": "http response",
    "z": "e60634bc.f90e28",
    "name": "response",
    "statusCode": "",
    "headers": {},
    "x": 880,
    "y": 580,
    "wires": []
  },
  {
    "id": "7ea2fca1.081954",
    "type": "mysql",
    "z": "e60634bc.f90e28",
    "mydb": "42cdccd.3ff8a34",
    "name": "",
    "x": 470,
    "y": 460,
    "wires": [ [ "f45f6443.fba308" ] ]
  },
  {
    "id": "df481676.ae4078",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Add defined person",
    "info": "",
    "x": 130,
    "y": 320,
    "wires": []
  },
  {
    "id": "6dfea798.ba3c68",
    "type": "catch",
    "z": "e60634bc.f90e28",
    "name": "Catch db error",
    "scope": [ "7ea2fca1.081954" ],
    "uncaught": false,
    "x": 590,
    "y": 360,
    "wires": [ [ "a9adce36.8c9f6" ] ]
  },
  {
    "id": "a9adce36.8c9f6",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format error",
    "func": "msg.payload = msg.error.message;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 360,
    "wires": [ [ "9aac5c82.cdea9" ] ]
  },
  {
    "id": "c5c86203.710af",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "/removeperson",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 680,
    "wires": [ [ "1bd594f0.44481b" ] ]
  },
  {
    "id": "1bd594f0.44481b",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "\nif(msg.payload.key !== undefined && msg.payload.key)\n{\n    msg.topic  = \"DELETE FROM persons WHERE kafka_key=:key;\";\n    return [msg, null];\n}\n\nmsg.payload = \"Invalid query\";\nreturn [null, msg];",
    "outputs": 2,
    "noerr": 0,
    "x": 330,
    "y": 680,
    "wires": [
      [ "7ea2fca1.081954" ],
      [ "9aac5c82.cdea9" ]
    ]
  },
  {
    "id": "54bbf515.f81dec",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Remove defined person",
    "info": "",
    "x": 160,
    "y": 640,
    "wires": []
  },
  {
    "id": "22768cdb.0f1e74",
    "type": "trigger",
    "z": "e60634bc.f90e28",
    "op1": "",
    "op2": "2",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": true,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "name": "",
    "x": 510,
    "y": 200,
    "wires": [ [ "b27c4ed5.2269f" ] ]
  },
  {
    "id": "fa60dd19.60de9",
    "type": "http request",
    "z": "e60634bc.f90e28",
    "name": "restart Node-RED",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "localhost:1880/flows",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 830,
    "y": 200,
    "wires": [ [] ]
  },
  {
    "id": "b27c4ed5.2269f",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format request",
    "func": "msg.headers = \n{\n    \"Node-RED-Deployment-Type\": \"reload\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 200,
    "wires": [ [ "fa60dd19.60de9" ] ]
  },
  {
    "id": "f682e97d.463a38",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Kafka error handling",
    "info": "",
    "x": 530,
    "y": 160,
    "wires": []
  },
  {
    "id": "9fcd4fb6.c7c76",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "/categories",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1040,
    "y": 380,
    "wires": [ [ "bc3fbdab.242" ] ]
  },
  {
    "id": "bc3fbdab.242",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "msg.payload = {};\nmsg.topic = \"SELECT * FROM categories;\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1190,
    "y": 380,
    "wires": [ [ "7a305889.e01da8" ] ]
  },
  {
    "id": "9d6e437d.9bd32",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Get defined categories",
    "info": "",
    "x": 1060,
    "y": 340,
    "wires": []
  },
  {
    "id": "9f2c3f7d.5c76",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "kafkabroker",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1040,
    "y": 580,
    "wires": [ [ "595ccab6.e41294" ] ]
  },
  {
    "id": "595ccab6.e41294",
    "type": "template",
    "z": "e60634bc.f90e28",
    "name": "broker",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{\n    \"broker\": \"172.16.100.5:9092\"\n}",
    "output": "json",
    "x": 1170,
    "y": 580,
    "wires": [ [ "636a311b.d5a42" ] ]
  },
  {
    "id": "ceed9011.6b205",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Get kafka broker (Driver relies on this)",
    "info": "",
    "x": 1110,
    "y": 540,
    "wires": []
  },
  {
    "id": "14598108.bcc70f",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "test",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1020,
    "y": 660,
    "wires": [ [ "894748a8.5d2288" ] ]
  },
  {
    "id": "894748a8.5d2288",
    "type": "template",
    "z": "e60634bc.f90e28",
    "name": "success",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{\n    \"success\": true\n}",
    "output": "json",
    "x": 1140,
    "y": 660,
    "wires": [ [ "636a311b.d5a42" ] ]
  },
  {
    "id": "67b189f5.f66c68",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Test connection (Driver relies on this)",
    "info": "",
    "x": 1100,
    "y": 620,
    "wires": []
  },
  {
    "id": "636a311b.d5a42",
    "type": "http response",
    "z": "e60634bc.f90e28",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1330,
    "y": 620,
    "wires": []
  },
  {
    "id": "dd6493b3.a0edc",
    "type": "debug",
    "z": "e60634bc.f90e28",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 310,
    "y": 180,
    "wires": []
  },
  {
    "id": "9e7aa2e0.7fe12",
    "type": "debug",
    "z": "e60634bc.f90e28",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1300,
    "y": 220,
    "wires": []
  },
  {
    "id": "705218ff.d89328",
    "type": "http in",
    "z": "e60634bc.f90e28",
    "name": "",
    "url": "editperson",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 520,
    "wires": [ [ "d45886a6.90e8e8" ] ]
  },
  {
    "id": "d45886a6.90e8e8",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "format query",
    "func": "\nvar getQuery = function(key, id, personName, category)\n{\n    if(((key !== undefined && key !== null) || (id !== undefined && id !== null)) && \n    personName !== undefined && personName !== null &&\n    category !== undefined && category !== null)\n    {\n        if(key !== undefined)\n            return \"UPDATE persons SET name=:personName, category=:category WHERE kafka_key=:key;\";\n        else\n            return \"UPDATE persons SET name=:personName, category=:category WHERE id=:id;\";\n    }\n    else return \"\";\n}\n\nmsg.topic = \"\";\nif(Array.isArray(msg.payload))\n{\n    return [msg, null, null];\n    /*\n    for(var i in msg.payload)\n    {\n        msg.topic += getQuery(msg.payload[i].key, msg.payload[i].id, msg.payload[i].name, msg.payload[i].category);\n    }\n    */\n}\nelse msg.topic = getQuery(msg.payload.key, msg.payload.id, msg.payload.personName, msg.payload.category);\n\n\n/*else if(((msg.payload.key !== undefined && msg.payload.key !== null) || (msg.payload.id !== undefined && msg.payload.id !== null)) && \n    msg.payload.name !== undefined && msg.payload.name !== null &&\n    msg.payload.category !== undefined && msg.payload.category !== null)\n{\n    if(msg.payload.key !== undefined)\n        msg.topic = \"UPDATE persons SET name=:name, category=:category WHERE kafka_key=:key;\";\n    else\n        msg.topic = \"UPDATE persons SET name=:name, category=:category WHERE id=:id;\";\n    return [null, msg];\n}*/\n\nif(msg.topic === \"\")\n{\n    msg.payload = \"Invalid query\";\n    return [null, null, msg];\n}\nreturn [null, msg, null];\n\n\n\n\n",
    "outputs": 3,
    "noerr": 0,
    "x": 290,
    "y": 500,
    "wires": [
      [ "a58ac3f4.a8d61" ],
      [ "7ea2fca1.081954" ],
      [ "9aac5c82.cdea9" ]
    ]
  },
  {
    "id": "dc8994f1.2a2798",
    "type": "comment",
    "z": "e60634bc.f90e28",
    "name": "Edit defined persons",
    "info": "",
    "x": 130,
    "y": 420,
    "wires": []
  },
  {
    "id": "a58ac3f4.a8d61",
    "type": "split",
    "z": "e60634bc.f90e28",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 290,
    "y": 440,
    "wires": [ [ "d45886a6.90e8e8" ] ]
  },
  {
    "id": "fd3132ef.21d6f",
    "type": "join",
    "z": "e60634bc.f90e28",
    "name": "",
    "mode": "auto",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 750,
    "y": 440,
    "wires": [ [ "9aac5c82.cdea9" ] ]
  },
  {
    "id": "f45f6443.fba308",
    "type": "function",
    "z": "e60634bc.f90e28",
    "name": "Separate parts",
    "func": "if(msg.parts !== undefined)\n    return [msg, null];\n    \nreturn [null, msg];",
    "outputs": 2,
    "noerr": 0,
    "x": 600,
    "y": 460,
    "wires": [
      [ "fd3132ef.21d6f" ],
      [ "9aac5c82.cdea9" ]
    ]
  }
]